* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;

} 

body{
    background-color: black;
}
.front__page {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.3));
    /* position: static; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}
 /* NAV BAR */
nav {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

nav .logo {
    width: 50px;

}

.nav__item {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

.nav__links {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    transition: .5s;
}
.nav__links:hover {
    color: grey;
    transition: all .3 ease;

}

.content {
    text-align: center;
}
 .content__container .main__title {
    font-size: 5rem;
    color: #fff;
    font-weight: 600px;
    transition: .5s;
}

.main__title:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;

}
 /* BACKGROUND VIDEO */
.backvid {
    position: absolute;
    right: 0;
    top: 90px; 
    z-index: -1;
}

.main__btn {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    padding: 12px 50px;
    border-radius: 40px;
    transition: .5s;
}
.main__btn:hover {
    -webkit-text-stroke: 1px grey;
    color: transparent;

}

/* CONTENT SECTION */
.workout__section {
    background-color: rgb(39, 30, 30);
    font-size: 70px;
    padding-bottom: 150px;

}

.workout__title { 
    padding-top: 50px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.workout__description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 1rem;

}
.workout__items {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    color: rgb(88, 85, 85);
    text-align: center;
    flex-wrap: wrap;
    font-size: 1rem;

}
/* CARD CONTENT */
.workout__items ul li {
    margin: 10px;
    list-style-type: none;
    text-align: start;
    font-size:  1rem;

}
/* BACKGROUND CARD */
.card {
    width: 230px;
    height: 250px;
    border-radius: 10px;
    padding: 20px 10px;
    box-sizing: border-box;
    margin: 10px 25px;
    background-color: #dfecf3;
    transition: transform 0.3s ease;


    

}
.card:hover {
    transform: translateY(-10px);

}

/* NUTRITION SECTION */
.nutrition__section {
    background-color: rgb(39, 30, 30);
    margin-top: auto;
    font-size: 70px;
    padding-bottom: 150px;
    padding-top: 100px;
    
}
.nutrition__title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.nutrition__items {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    color: rgb(88, 85, 85);
    text-align: center;
    flex-wrap: wrap;
    font-size: 1rem;
}
    
.nutrition__items ul li {
    margin: 10px;
    list-style-type: none;
    text-align: start;
    font-size:  1rem;
}

/* PROGRESS SECTION*/
.progress__section {
    background-color: rgb(39, 30, 30);
    height: 100vh;
    font-size: 70px;
    padding-bottom: 150px;
    padding-top: 200px;

}
.progress__title {
    padding-top: 10px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
@media (min-aspect-ratio: 16/9){
    .backvid{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .backvid{
        width: auto;
        height: 100%;
    }
}

@media (max-width: 650px) {
    .workout__title {
        font-size: 1.5rem;
    }
    .workout__items {
        font-size: .7rem;
    }
    .workout__items ul li {
        font-size: 1rem;
    }
    .content__container .content__heading {
        font-size: 3rem;
    }
    .nav__links {
        font-size: .6rem;
    }
    nav .logo {
        width: 30px;
    }
    .main__btn {
        font-size: .7rem;
    }
    .card {
        width: 50%;
        height: 100%;
    }
    .nutrition__title {
        font-size: 1.5rem;
    }
}
@media (max-width: 841px) {
    .card {
        width: 50%;
        height: 50%;
        padding-left: 20px;
    }
}